
<div class="row">
    <form  
          role="search" 
          method="get" 
          action="@Url.Action("Index")"
          data-ise-ajax="true" 
          data-ise-target="#itemList">       
          <div class="ui-widget">
            <input type="search"
                     name="searchTerm"        
                     placeholder="Search" 
                     data-ise-autocomplete="@Url.Action("Autocomplete")" />               
          </div>
        <input type="submit" value="submit" />
    </form>
</div>