<div class="row">
    @using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "itemList"
                }
    ))

    {
        <div class="navbar-form navbar-left">
            <div class="form-group">
                <input type="search" name="searchTerm" class="form-control" placeholder="Search" />
            </div>
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    }
</div>
