
<div class="row">
    <form class="navbar-form navbar-left" role="search" method="get" action="@Url.Action("Index")"
          data-ise-ajax="true" data-ise-target="#itemList">
        <div class="form-group">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>