@model IEnumerable<InventorySystem.Models.Item>

@{
    ViewBag.Title = "Home Page";
}
<br />
@Html.ActionLink("Create new Item", "Create", "Item", null, new { @class = "btn btn-success" })
<h2>My Items</h2> 
@Html.Partial("_ItemsSearchJSAutoComplete")
<hr />
@Html.Partial("_ViewItemsSimple", Model)
